<mat-dialog-content>
  <ng-container *ngIf="consultation">
    <psycho-picture *ngIf="user" [origin]="user?.avatar" [alt]="$any(user) | fio" class="__img">
    </psycho-picture>
    <div *ngIf="user" class="__name">
      {{$any(user) | fio}}
      <span *ngIf="consultation?.client?.birthday as birthday">
        {{$any(+birthday * 1000) | datesDiff | agetostr}}
      </span>
    </div>
    <div *ngIf="consultation?.subject?.title" class="__slogan">Тема консультации: “<span [innerHTML]="consultation.subject?.title | safe:'html'"></span>”</div>
    <div *ngIf="consultation.schedule?.datetime" class="__details d-flex  align-items-center">
      <span class="d-flex align-items-center">
        <mat-icon svgIcon="experience"></mat-icon>
        Начала консультации {{$any(consultation.schedule?.datetime) * 1000 | date:'YYYY.MM.dd HH:mm'}}
      </span>
    </div>
  </ng-container>
</mat-dialog-content>