@import "mixins";

:host {
  display: block;
}
.__content {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  padding: 48px 0;
  @include for-sm {
    padding-bottom: 412px;
    padding-top: 35px;
  }
  &::before {
    height: 180px;
    width: 180px;
    background: url(/assets/img/wave-1.png) no-repeat center center / 100% 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    @include for-sm {
      display: none;
    }
  }
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(/assets/img/entire-block-bg.png) no-repeat right 0 / auto 100%;
    content: "";
    @include for-sm {
      height: 412px;
      background: {
        position: right center;
      }
    }
  }
  .__inner {
    position: relative;
    z-index: 1;
  }
}
