@import "mixins";

:host {
  display: block;

  &.main-page {
    @include for-sm {
      .__content {
        padding-bottom: 30px;

        &::after {
          display: none;
        }
      }
    }
  }
}

.__content {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  padding: 48px 0;

  @include for-sm {
    padding-bottom: 412px;
    padding-top: 35px;
  }

  &::before {
    height: 180px;
    width: 180px;
    background: url(/assets/img/wave-1.webp) no-repeat center center / 100% 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    @include for-sm {
      display: none;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(/assets/img/entire-block-bg.webp) no-repeat right 0 / auto 100%;
    content: "";

    @include for-sm {
      height: 412px;

      background: {
        position: right center;
      }
    }
  }

  .__inner {
    position: relative;
    z-index: 1;
  }

  .__mb-1 {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 57px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 35px;

    @include for-sm {
      font-size: 40px;
      margin-bottom: 18px;
    }
  }

  .__cards {
    border-radius: 8px;
    background: var(--white);
    box-shadow: 3px 21px 50px rgba(118, 96, 220, 0.15);
    width: 576px;
    padding: 22px;

    @include for-sm {
      width: 100%;
      padding: 20px 12px;
    }
  }

  .__card {
    width: 100%;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
      align-items: flex-start;
    }

    >div {
      &:first-child {
        flex: 1;
      }

      &:last-child {
        text-align: right;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 7px;

      @include for-sm {
        font-size: 16px;
      }
    }

    &-price {
      font-size: 21px;
      color: var(--orange);
      font-weight: 700;

      @include for-sm {
        font-size: 16px;
      }
    }

    &-time {
      font-size: 21px;
      font-weight: 700;
      color: #666;

      @include for-sm {
        font-size: 16px;
      }

      mat-icon {
        margin-right: 7px;
      }
    }

    p {
      font-size: 14px;
      margin: 0;
      color: #7b7b7b;
    }

    button {
      width: 100%;
    }
  }

  .__btn {
    margin-bottom: 70px;
  }

  .__note {
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--main-color);
    font-size: 18px;
    display: flex;
    align-items: center;

    @include for-sm {
      font-size: 16px;
      white-space: nowrap;
    }

    mat-icon {
      margin-right: 12px;
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }

  .__footer {
    padding: 85px 0;

    @include for-sm {
      padding: 50px 0;
    }

    .radio-list {
      @include for-sm {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        font-size: 25px;
        font-weight: 700;

        @include for-sm {
          font-size: 21px;

          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }

        &::before {
          display: none;
        }

        &::after {
          width: 13px;
          height: 13px;
          border: none;
          top: 8px;
        }
      }
    }
  }

  .__mob-img {
    display: none;

    @include for-sm {
      display: block;
      text-align: center;
    }
  }

}