<div class="container">
  <div class="d-flex __inner">
    <div class="__img">
      <img src="/assets/img/trusted-spec.png" alt="">
    </div>
    <div class="__desc">
      <h3 class="title-1">только проверенные специалисты</h3>
      <ul class="radio-list __large">
        <li>Наши психологи имеют высшее образование и практический опыт работы не менее 3х лет, поэтому вы можете быть уверены, что получите профессиональную помощь в решении своих вопросов.</li>
        <li>Мы не навязываем Вам свою точку зрения, а помогаем найти лично ваши жизненные пути, которые принесут вам счастье и удовлетворение от жизни.</li>
        <li>Все консультации строго конфиденциальны, поэтому всё о чём вы нам расскажете останется только между нами. Будьте уверены!</li>
      </ul>
      <button mat-raised-button size="large" color="accent">Записаться на консультацию</button>
    </div>
  </div>
</div>