@import "mixins";

:host {
  display: block;
  position: relative;
  min-height: 600px;
  margin-top: -170px;
  @include for-sm {
    margin-top: 0;
    padding-top: 40px;
  }
}
.container {
  position: relative;
  z-index: 2;
}

.__inner {
  @include for-sm {
    flex-direction: column-reverse;
  }
}
.__img {
  width: 720px;
  display: flex;
  align-items: flex-end;
  @include for-sm {
    display: none;
  }
}
.__desc {
  margin-left: -200px;
  margin-top: -20px;
  flex: 1;
  min-width: 0;
  @include for-sm {
    margin: 0 0 45px;
    .title-1 {
      text-align: center;
      margin-bottom: 45px;
    }
  }
  button {
    width: 100%;
    text-align: center;
  }
}

.radio-list {
  li {
    margin-bottom: 35px;
    font-size: 18px;
    @include for-sm {
      font-size: 16px;
    }
  }
}
.text-right {
  text-align: center;
}

.__footer-bg {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/assets/img/wave-4.webp) no-repeat center top;
  height: 150px;
  z-index: 2;
  width: 1330px;
  margin: -85px auto 0;
  @include for-sm {
    height: 50px;
    margin-top: 0;
    margin-bottom: -2px;
    background: {
      position: -145px 0;
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: "";
    background: var(--accent-bg-light);
    bottom: 0;
    width: 50vw;
  }
  &::before {
    right: 100%;
    height: 81px;
  }
  &::after {
    left: 100%;
    height: 110px;
  }
}
.__ask-question-btn {
  margin-left: 15px;
  @include for-sm {
    margin: 15px auto;
  }
}