<div class="container">
  <div class="d-flex __inner">
    <div class="__img">
      <psycho-picture origin="/assets/img/trusted-spec.png" webp="/assets/img/trusted-spec.webp"></psycho-picture>
    </div>
    <div class="__desc">
      <h3 class="title-1">Только <strong>проверенные</strong> специалисты</h3>
      <ul class="radio-list __large">
        <li><strong>Наши психологи имеют высшее образование и практический опыт работы не менее 3х лет,</strong> поэтому вы можете быть уверены, что получите профессиональную помощь в решении своих вопросов.</li>
        <li><strong>Мы не навязываем Вам свою точку зрения, а помогаем найти</strong> лично ваши жизненные пути, которые принесут вам счастье и удовлетворение от жизни.</li>
        <li><strong>Все консультации строго конфиденциальны,</strong> поэтому всё о чём вы нам расскажете останется только между нами. Будьте уверены!</li>
      </ul>
      <div class="text-right">
        <a [routerLink]="['/auth/signup']" mat-raised-button color="primary">Записаться на консультацию</a>
        <a [routerLink]="['/zadat-vopros-psihologu']" mat-button class="__ask-question-btn">Задать вопрос беспалтно</a>
      </div>
    </div>
  </div>
</div>
<div class="__footer-bg"></div>