:host {
  display: block;
}

.__mb-1 {
  margin-bottom: 10px;
}
h1 {
  font-size: 57px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 35px;
}
.__cards {
  border-radius: 8px;
  background: var(--white);
  box-shadow: 3px 21px 50px rgba(118, 96, 220, 0.15);
  width: 576px;
  padding: 22px;
}
.__card {
  width: 100%;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  > div {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      text-align: right;
    }
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  &-price {
    font-size: 21px;
    color: var(--orange);
    font-weight: 700;
  }
  &-time {
    font-size: 21px;
    font-weight: 700;
    color: #666;
    mat-icon {
      margin-right: 7px;
    }
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}
.__btn {
  margin-bottom: 70px;
}
.__note {
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--main-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 12px;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}

.__footer {
  padding: 85px 0;
  .radio-list {
    li {
      font-size: 25px;
      font-weight: 700;
      &::before {
        display: none;
      }
      &::after {
        width: 13px;
        height: 13px;
        border: none;
        top: 8px;
      }
    }
  }
}
