<psycho-greeting-block class="main-page">
  <p class="__note">
    <mat-icon svgIcon="lock"></mat-icon>
    Анонимно и конфиденциально
  </p>
  <h1>Консультация <br>психолога <span class="primary">онлайн</span></h1>
  <div class="__mob-img">
    <img src="/assets/img/entire-bg-mob.webp" alt="">
  </div>
  <div class="__cards">
    <div class="__card d-flex">
      <div>
        <div class="__card-title">
          Полноценная онлайн-консультация <br>
          с психологом 
        </div>
        <p>видео или чат консультация на выбор</p>
      </div>
      <div>
        <div class="__card-price __with-time">
          2 490  ₽ 
        </div> 
        <div class="__card-time"><img src="/assets/img/clock.png"> 50 мин</div>
      </div>
    </div>
    <div class="__card d-flex">
      <div>
        <div class="__card-title">
          Экспресс-консультация 
        </div>
        <p>Ответ на один срочный вопрос в чат </p>
      </div>
      <div>
        <div class="__card-price">
          250  ₽
        </div>
      </div>
    </div>
    <a [routerLink]="['/auth/signup']" mat-raised-button color="primary">Записаться на консультацию</a>
  </div>
</psycho-greeting-block>
<div class="__footer">
  <div class="container">
    <ul class="radio-list d-flex justify-content-between">
      <li>
        Только опытные психологи
      </li>
      <li>100% конфиденциально</li>
      <li>Уютный личный кабинет</li>
      <li>В удобное время</li>
    </ul>
  </div>
</div>