<psycho-greeting-block>
    <p class="bolder __mb-1 accent">Психолог из любой точки мира</p>
    <h1>консультация психолога <br>онлайн</h1>
    <div class="__cards d-flex flex-wrap justify-content-between">
      <div class="__card d-flex flex-column">
        <div class="__card-title">
          Полноценная онлайн <br>консультация <br>
          с психологом 
        </div>
        <p>Видео-консультация, телефон или чат.</p>
        <div class="__card-price __with-time">
          2 490  ₽
        </div>
        <div class="__card-time">50 мин</div>
      </div>
      <div class="__card d-flex flex-column">
        <div class="__card-title">
          Экспресс-<br>консультация 
        </div>
        <p>Ответ на один срочный вопрос в чат </p>
        <div class="__card-price">
          250  ₽
        </div>
      </div>
    </div>
    <div class="text-center __btn">
      <a href="#" size="large" mat-raised-button color="accent">Записаться на консультацию</a>
    </div>
    <div class="__note">Анонимно и конфиденциально</div>
</psycho-greeting-block>
<div class="__footer">
  <div class="container">
    <ul class="radio-list d-flex flex-wrap justify-content-between">
      <li>
        Только опытные психологи
      </li>
      <li>100% конфиденциально</li>
      <li>Уютный личный кабинет</li>
      <li>В удобное время</li>
    </ul>
  </div>
</div>