<div class="__bottom-wave wave-bg"></div>
<div class="container">
  <h3 class="title-1 text-center"><strong>Ответы</strong> на<br> популярные вопросы</h3>
  <mat-accordion>
    <mat-expansion-panel 
      *ngFor="let item of faq; let i = index" 
      mat-ripple hideToggle
      (afterExpand)="onPanelExpand(i)"
      (afterCollapse)="onPanelCollapse()">
      <mat-expansion-panel-header>
        <div class="d-flex align-items-center justify-content-between flex-1">
          <mat-panel-title>
            {{item.title}}
          </mat-panel-title>
          <div class="__icon" [class.active]="openedPanel === i">
            <mat-icon *ngIf="openedPanel !== i">add</mat-icon>
            <mat-icon *ngIf="openedPanel === i">close</mat-icon>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="panel-text" [innerHTML]="item.content"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>