@import "mixins";
:host {
  display: block;
  position: relative;
  z-index: 2;
  background: var(--accent-bg-light);
  min-height: 200px;
  padding-bottom: 109px;
  padding-top: 50px;
  @include for-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.__bottom-wave {
  position: absolute;
  height: 120px;
  background: url(/assets/img/wave-9.jpg) no-repeat center top;
  bottom: 100%;
  @include for-sm {
    display: none;
  }
  &::after,
  &::before {
    background: var(--accent-bg-light);
    content: "";
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
  &::before {
    right: 100%;
    height: 50px;
  }
  &::after {
    left: 100%;
    height: 78px;
  }
}

.title-1 {
  margin-bottom: 60px;
  @include for-sm {
    margin-bottom: 40px;
  }
}

mat-accordion {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  mat-expansion-panel {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(34, 0, 89, 0.07);
    mat-expansion-panel-header {
      padding: 22px 0;
      font-size: 24px;
      font-weight: 600;
      height: auto;
      line-height: 1.2;
      @include for-sm {
        font-size: 16px;
      }
    }
  }
  .panel-text {
    font-size: 18px;
    margin: 0 -24px;
    @include for-sm {
      font-size: 16px;
      color: #555;
    }
    ::ng-deep {
      .__ad-block {
        display: none;
      }
    }
  }
  .__icon {
    width: 47px;
    height: 47px;
    min-width: 47px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    @include for-sm {
      width: 37px;
      height: 37px;
      min-width: 37px;
    }
    &.active {
      background-color: var(--main-color);
      color: var(--white);
    }
  }
}
