@import "mixins";

:host {
  display: flex;
  background: var(--light-gray-bg);
  border-radius: 6px;
  @include for-sm {
    margin: 0 -20px;
  }
  ::ng-deep {
    .mat-tab-header {
      margin-bottom: 15px;
    }
    .mat-tab-nav-bar,
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-label-container {
      .mat-tab-labels {
        padding: 0 15px;
        justify-content: space-between;
      }
    }
    .mat-ink-bar {
      display: none;
    }
    .mat-tab-label {
      min-width: 0;
      opacity: 1;
      margin: 0;
      height: 45px;
      padding: 0 20px;
      border-radius: 6px;
      color: var(--white);
      font-size: var(--base-font-color);
      border: none;
      font-weight: 600;
      &-active {
        color: var(--base-font-color);
        background-color: var(--accent-bg-light);
      }
    }
  }
}

.__sidebar {
  width: 290px;
  background: var(--accent-bg-medium);
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  @include for-sm {
    width: 100%;
    min-width: 100%;
    transition: margin 0.3s;
    border-radius: 0;
    margin: 0;
    &.chat-expanded {
      margin-left: -100%;
    }
  }
}
.__content {
  flex: 1;
  min-width: 0;
  padding: 20px;
  @include for-sm {
    position: relative;
    padding-top: 70px;
  }
}
.__mob-back-btn {
  display: none;
  @include for-sm {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 0;
    background: var(--main-color);
    color: var(--white);
    width: 60px;
    height: 60px;
  }
}
