<psycho-profile-layout *ngIf="userData$ | async as userData" 
  [showSidebar]="registrationCompleted$ | async"
  [isClient]="(userAuthData$ | async)?.is_client"
  [isPsychologist]="(userAuthData$ | async)?.is_psychologist"
>
  <ng-container *ngIf="registrationCompleted$ | async" sidebar>
    <psycho-profile-sidebar-header [user]="userData"></psycho-profile-sidebar-header>
    <psycho-profile-sidebar-menu [menuItems]="menuItems$ | async" (logout)="onLogout()"></psycho-profile-sidebar-menu>
    <div class="__new-seans">
      <button (click)="onNewSession()" mat-button size="medium">Новая запись</button>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</psycho-profile-layout>