@import "mixins";

:host {
  display: block;
}
.__new-seans {
  margin-bottom: 80px;
  text-align: center;
  padding-left: 33px;
  padding-right: 20px;
  @include for-sm {
    display: none;
  }
  button {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

psycho-profile-sidebar-menu {
  margin-bottom: 25px;
}
