:host {
  display: block;
  padding-top: 55px;
  background: var(--accent-bg-light);
}

.title-1 {
  margin-bottom: 60px;
}

.__subjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  psycho-subject-item {
    margin-bottom: 22px;
    width: calc(25% - 15px);
    height: 163px;
  }
}
