@import "mixins";
:host {
  display: block;
  background: var(--white);
  position: relative;
  min-height: 971px;

  > * {
    position: relative;
    z-index: 1;
  }
  .__bg {
    position: relative;
    width: 1330px;
    margin: 0 auto;
    height: 0;
    z-index: 0;
    @include for-sm {
      display: none;
    }
    .__img {
      position: absolute;
      height: 971px;
      top: 0;
      left: 0;
      width: 100%;
      background: url(/assets/img/wave-3.webp) no-repeat center top;
      content: "";
    }
    &::before,
    &::after {
      background-color: var(--accent-bg-light);
      content: "";
      position: absolute;
      top: 0;
      width: 50vw;
      display: block;
    }
    &::before {
      height: 838px;
      right: 1330px;
    }
    &::after {
      height: 324px;
      left: 1330px;
    }
  }
}
.container {
  padding-top: 55px;
}

.title-1 {
  margin-bottom: 60px;
  @include for-sm {
    margin-bottom: 33px;
  }
}

.__subjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include for-sm {
    flex-direction: column;
  }
  > a {
    margin-bottom: 22px;
    width: calc(25% - 15px);
    display: block;
    color: var(--default-font-color);
    text-decoration: none;
    @include for-sm {
      width: 100%;
    }
    psycho-subject-item {
      height: 100%;
    }
  }
}
