@import "mixins";
:host {
  display: flex;
  flex-wrap: wrap;
  background: var(--accent-bg-light);
  position: relative;
  z-index: 2;
  padding-bottom: 150px;
  @include for-sm {
    display: block;
    padding-bottom: 89px;
  }
}

.psychologists-list {
  .__item {
    @include for-sm {
      flex-direction: column-reverse;
      background-color: var(--white);
      border-radius: 6px;
      padding: 12px;
    }
  }
  psycho-rating-stars {
    @include for-sm {
      margin-bottom: 10px;
    }
  }
  .__desc {
    flex: 1;
    min-width: 0;
    @include for-sm {
      margin-bottom: 60px;
    }
  }
  psycho-picture {
    width: 445px;
    height: 445px;
    margin-left: 115px;
    overflow: hidden;
    border-radius: 50%;
    @include for-sm {
      width: 318px;
      height: 318px;
      margin: 0 auto 10px;
      border-radius: 0;
    }
  }

  .__name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    @include for-sm {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }
  .__slogan {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    @include for-sm {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .__details {
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 600;
    @include for-sm {
      font-size: 16px;
      font-weight: 400;
    }
    span {
      margin-right: 35px;
    }
    mat-icon {
      margin-right: 12px;
    }
  }
  .__subtitle {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
    @include for-sm {
      font-weight: 600;
    }
  }
  .__subjects {
    display: flex;
    flex-wrap: wrap;
    span {
      padding: 7px 19px;
      line-height: 22px;
      font-size: 15px;
      background: var(--white);
      margin-right: 9px;
      margin-bottom: 9px;
      display: flex;
      align-items: center;
      @include for-sm {
      background: var(--accent-bg-light);

      }
      br {
        display: none;
      }
    }
  }
  ::ng-deep {
    .owl-nav {
      margin: 0;
      padding: 40px 0 0;
      display: flex;
      justify-content: center;
      .owl {
        &-prev,
        &-next {
          height: 56px;
          width: 56px;
          background: var(--main-color);
          border-radius: 50%;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.3s, background-color 0.3s;
          margin: 0 13px;
          &.disabled {
            border: 1px solid #cccccc;
            background: none;
            opacity: 1;
            &::before {
              border-color: #cccccc;
            }
          }
          &::before {
            height: 15px;
            width: 15px;
            border: {
              top: 2px solid var(--white);
              right: 2px solid var(--white);
            }
            content: "";
          }
        }
        &-prev {
          &::before {
            transform: rotate(-140deg);
            margin-right: -2px;
          }
        }
        &-next {
          &::before {
            transform: rotate(45deg);
            margin-left: -2px;
          }
        }
      }
    }
  }
}

.__education {
  ::ng-deep {
    ul,ol {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        @include for-sm {
          font-size: 16px;
        }
        &::before {
          height: 19px;
          width: 19px;
          border-radius: 50%;
          content: "";
          display: block;
          border: 1px solid var(--main-color);
          display: block;
          position: absolute;
          top: 2px;
          left: 0;
        }
        &::after {
          width: 11px;
          height: 11px;
          content: "";
          position: absolute;
          left: 4px;
          top: 6px;
          background: var(--main-color);
          border-radius: 50%;
        }
      }
    }
  }
}