<ng-container *ngIf="format !== formats.FORMAT_EXPRESS;else expressText">
  Стоимость сессии составит {{price | number}} ₽
  <br>
  Мы забронируем за вами выбранное время после оплаты. Вы можете отменить или перенести запись за 12 часов до начала консультации в личном кабинете.
  Все сессии проводятся из вашего личного кабинета в том формате, который вы выбрали.
</ng-container>

<ng-template #expressText>
  После оплаты психолог ответит вам в своё рабочее время, максимальное время ожилания в будние дни 24 часа - дальше пересылка на оплату.
</ng-template>