<div class="container d-flex justify-content-between">
  <div class="__desk">
    <h2 class="title-1">Фиксированная цена на услуги<br> <strong>опытных психологов</strong></h2>
    <p>Мы установили единую цену на  услуги наших специалистов, а также добавили  возможность экспресс-консультаций, для тех кому важно получить  быстрый ответ на свой вопрос</p>
  </div>

  <div class="__cards">
    <div class="__card d-flex">
      <div>
        <div class="__card-title">
          Полноценная онлайн консультация <br>
          с психологом 
        </div>
        <p>Видео-консультация, телефон или чат.</p>
        <button mat-raised-button color="primary">Записаться на консультацию</button>

      </div>
      <div>
        <div class="__card-price __with-time">
          2 490  ₽
        </div> 
        <div class="__card-time"><mat-icon svgIcon="time"></mat-icon> 50 мин</div>
      </div>
    </div>
    <div class="__card d-flex">
      <div>
        <div class="__card-title">
          Экспресс-консультация 
        </div>
        <p>Ответ на один срочный вопрос в чат </p>
        <button mat-raised-button color="primary">Записаться на консультацию</button>
      </div>
      <div>
        <div class="__card-price">
          250  ₽
        </div>
      </div>
    </div>
  </div>

</div>