<div class="__top-wave wave-bg"></div>
<div class="container">
  <h3 class="title-2">Фиксированная цена на услуги опытных психологов</h3>
  <p>Мы установили единую цену на  услуги наших специалистов, а также<br> добавили  возможность экспресс-консультаций, для тех кому важно<br> получить  быстрый ответ на свой вопрос</p>

  <div class="d-flex justify-content-between flex-wrap prices-blocks">
    <div class="__price-block">
      <div class="__price">250  ₽ </div>
      <div class="__title">Экспресс-консультация </div>
      <div class="__desc">Ответ на один срочный вопрос в чат </div>
      <a href="#" mat-button size="large">Получить консультацию</a>
    </div>
    <div class="__price-block __accent-bg-medium">
      <div class="__price">2 490  ₽</div>
      <div class="__title">Полноценная онлайн консультация с психологом </div>
      <div class="__desc">Видео-консультация, телефон или чат. </div>
      <a href="#" mat-raised-button size="large" color="accent">Подобрать психолога</a>
      <div class="__time">50 мин</div>
    </div>
  </div>

</div>