<div class="__header d-flex align-items-center justify-content-between">
  <div class="__title">Петрова Марина</div>
  <button mat-icon-button>
    <mat-icon svgIcon="ring"></mat-icon>
  </button>
</div>

<div class="__body">
  <div class="__date">
    <span>31 августа 2021</span>
  </div>
  <div class="__message d-flex align-items-start __sender">
    <psycho-picture class="__message-avatar"></psycho-picture>
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
        <div class="__message-sender-name">
          Петрова Марина
        </div>
      </div>
      <div class="__message-text">
        Добрый день.  Опишит ваши чувства в тот момнт
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>

  <div class="__date">
    <span>31 августа 2021</span>
  </div>
  <div class="__message d-flex align-items-start __sender">
    <psycho-picture class="__message-avatar"></psycho-picture>
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
        <div class="__message-sender-name">
          Петрова Марина
        </div>
      </div>
      <div class="__message-text">
        Добрый день.  Опишит ваши чувства в тот момнт
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  
  <div class="__date">
    <span>31 августа 2022</span>
  </div>
  <div class="__message d-flex align-items-start __sender">
    <psycho-picture class="__message-avatar"></psycho-picture>
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
        <div class="__message-sender-name">
          Петрова Марина
        </div>
      </div>
      <div class="__message-text">
        Добрый день.  Опишит ваши чувства в тот момнт
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  <div class="__message d-flex align-items-start __owner">
    <div class="flex-1">
      <div class="__message-header">
        <div class="__message-time">
          12:12
        </div>
      </div>
      <div class="__message-text">
        Добрый день. Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти  Я попала в ситуацию, выход из которой н могу найти 
      </div>
    </div>
  </div>
  
 
</div>
<div class="__footer d-flex align-items-end">
  <textarea [class.__empty]="true" placeholder="Напишиите вопрос" heightAdjust [maxHeight]='200'></textarea>
  <button mat-icon-button>
    <mat-icon svgIcon="send"></mat-icon>
  </button>
</div>