:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--white);
  padding: 23px 17px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 21px 50px rgba(118, 96, 220, 0.15);
  .__image {
    width: 45px;
    margin-right: 12px;
  }
  .__title {
    flex: 1;
    min-width: 0;
  }
}
