<div *ngIf="psychologist" class="__col">
  <p>Ваш специалист</p>
  <psycho-psychologist-card 
      [psychologist]="psychologist" 
      [chooseBtn]="true" 
      [isChoosed]="form.get('psychologist_id')?.value === psychologist.id">
    
      <div class="__slogan">
        {{psychologist.slogan}}
      </div>
    
      <div class="__education" [class.expanded]="educationExpanded">
        <strong>Образование</strong>
        <div [innerHTML]="psychologist.education | safe:'html'"></div>
        <a href="#" (click)="onToggle('education')">
          Раскрыть
          <mat-icon>{{educationExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </a>
      </div>
    
      <div class="__description" [class.expanded]="descriptionExpanded">
        <strong>О специалисте</strong>
        <div [innerHTML]="psychologist.description | safe:'html'"></div>
        <a href="#" (click)="onToggle('description')">
          Раскрыть
          <mat-icon>{{educationExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </a>
      </div>
    </psycho-psychologist-card>
</div>
<div class="__col">
  <div class="h4">Выберите дату и время сессии</div>
  <ul class="radio-list">
    <li>
      Можно перенести за 12 часов
    </li>
    <li>
      Фиксированная цена 2 490 ₽
    </li>
  </ul>
  <p>Часовой пояс: Москва</p>
  <div class="d-flex">
    <psycho-select
      label="Выберите год"
      [control]="$any(form.get('year'))"
      [options]="yearOptions"></psycho-select>
    <psycho-select
      label="Выберите месяц"
      [control]="$any(form.get('month'))"
      [options]="monthsOptions"></psycho-select>
  </div>
  <div class="__days">
    <div class="__field" *ngFor="let item of schedule">
      <div class="__title">{{item.date | date:'MMM d, y'}}</div>
      <div class="__btns">
        <button *ngFor="let time of item.times" mat-raised-button>{{time | date:'HH:mm'}}</button>
      </div>
    </div>
  </div>
</div>