<header class="header">
  <div class="container d-flex align-items-center justify-content-between ">
    <button *ngIf="userData" class="header-menu-toggle" (click)="onMenuToggle()" mat-ripple [class.active]="menuOpened">
      <span></span>
    </button>
    <a [routerLink]="'/'" class="logo"></a>
    <div *ngIf="menuItems" class="header__menu" [class.active]="menuOpened">
      <a *ngFor="let item of menuItems" [routerLink]="item.url" (click)="onMenuToggle()" routerLinkActive="active">{{item.label}}</a>
      <a class="__mob" (click)="onMenuToggle()" *ngIf="userData" [routerLink]="['/profile']" routerLinkActive="active">
        Мой профиль
      </a>
      <a *ngIf="isProfilePage" class="__support-btn" (click)="onMenuToggle()" [routerLink]="supportLink" >
        <mat-icon svgIcon="help"></mat-icon>
        Поддержка
      </a>
      <div class="hr"></div>
      <ng-container *ngIf="!isHomePage">
        <div class="blog-nets">
          <a mat-icon-button href="#">
            <mat-icon svgIcon="fb"></mat-icon>
          </a>
          <a mat-icon-button href="#">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button href="#">
            <mat-icon svgIcon="tg"></mat-icon>
          </a>
        </div>
        <a mat-raised-button color="primary" class="__begin-btn" [routerLink]="['/auth', 'signup']">Начать терапию</a>
      </ng-container>

      <div class="__links-for-mob">
        <a *ngFor="let link of linkItems" [routerLink]="link.url">{{link.label}}</a>
      </div>

    </div>
    <a *ngIf="!userData && !isAuthPage;" [routerLink]="['/auth/login']" mat-raised-button color="primary" class="no-shadow" size="sm-small">Войти</a>

    <ng-container *ngIf="userData">
      <a mat-icon-button [matMenuTriggerFor]="menu" class="user-ava" mat-ripple>
        <psycho-picture *ngIf="userData?.avatar;else faceIcon" [origin]="userData?.avatar"></psycho-picture>
        <ng-template #faceIcon>
          <mat-icon>face</mat-icon>
        </ng-template>
      </a>
      <mat-menu #menu="matMenu">
        <a [routerLink]="['/profile']" mat-menu-item>
          Мой профиль
        </a>
        <a [routerLink]="['/profile/messages']" mat-menu-item>
          1 непрочитанное сообщение
        </a>
        <a [routerLink]="['/profile/notifications']" mat-menu-item>
          Напоминание: сессия сегодня в 12:40
        </a>
        <button mat-menu-item (click)="onLogout()">
          Выйти из личного кабинета
        </button>
      </mat-menu>
    </ng-container>


    <button *ngIf="!userData" class="header-menu-toggle" (click)="onMenuToggle()" mat-ripple [class.active]="menuOpened">
      <span></span>
    </button>
    <button *ngIf="userData" class="logout-btn" (click)="onLogout()" mat-ripple [class.active]="menuOpened">
      <mat-icon svgIcon="logout"></mat-icon>
    </button>
  </div>
</header>