<header class="header">
  <div class="container d-flex align-items-center justify-content-between ">
    <a [routerLink]="'/'" class="logo">
      <img src="/assets/img/logo.svg" alt="">
    </a>
    <div *ngIf="menuItems" class="header__menu">
      <a *ngFor="let item of menuItems" [routerLink]="item.url" routerLinkActive="active">{{item.label}}</a>
    </div>
    <a *ngIf="!userData;else userAva" [routerLink]="['/auth/login']" mat-raised-button color="primary">Войти</a>
  </div>
</header>
<ng-template #userAva>
  <a mat-icon-button [matMenuTriggerFor]="menu" class="user-ava" mat-ripple>
    <psycho-picture *ngIf="userData?.avatar;else faceIcon" [origin]="userData?.avatar"></psycho-picture>
    <ng-template #faceIcon>
      <mat-icon>face</mat-icon>
    </ng-template>
  </a>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/profile']" mat-menu-item>
      Мой профиль
    </a>
    <a [routerLink]="['/profile/messages']" mat-menu-item>
      1 непрочитанное сообщение
    </a>
    <a [routerLink]="['/profile/notifications']" mat-menu-item>
      Напоминание: сессия сегодня в 12:40
    </a>
    <button mat-menu-item (click)="onLogout()">
      Выйти из личного кабинета
    </button>
  </mat-menu>
</ng-template>