:host {
  display: block;
  border-bottom: 1px solid #7660dc;
}
.header {
  padding: 20px 0 17px;
  &__menu {
    a {
      color: var(--base-font-color);
      text-decoration: none;
      margin: 0 30px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
