:host {
  display: block;
  border-bottom: 1px solid #7660dc;
}
.header {
  padding: 15px 0 17px;
  &__menu {
    a {
      color: var(--base-font-color);
      text-decoration: none;
      margin: 0 30px;
      &:hover,
      &.active {
        color: var(--main-color);
      }
      &.active {
        font-weight: 700;
      }
    }
  }
}

.user-ava {
  width: 60px;
  height: 60px;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
}
