<div *ngIf="psychologist" class="__col">
  <p>Ваш специалист</p>
  <psycho-psychologist-card [psychologist]="psychologist">
  
    <div class="__slogan">
      {{psychologist.slogan}}
    </div>
  
    <psycho-psychologist-info [psychologist]="psychologist"></psycho-psychologist-info>

  </psycho-psychologist-card>
</div>
<div class="__col">
  <div class="h4">Выберите дату и время сессии</div>
  <ul class="radio-list">
    <li>
      Можно перенести за 12 часов
    </li>
    <li>
      Фиксированная цена 2 490 ₽
    </li>
  </ul>
  <p>Часовой пояс: Ваш</p>
  <div class="d-flex __selects">
    <psycho-select
      label="Выберите год"
      [control]="$any(scheduleForm.get('year'))"
      [options]="yearOptions"></psycho-select>
    <psycho-select
      label="Выберите месяц"
      [control]="$any(scheduleForm.get('month'))"
      [options]="monthsOptions"></psycho-select>
  </div>
  <div class="__days">
    <div class="__field" *ngFor="let item of schedule">
      <div class="__title">{{item.date | date:'MMM d, y'}}</div>
      <div class="__btns">
        <button
          type="button"  
          *ngFor="let time of item.times" 
          mat-raised-button
          [class.selected]="datetimeForm?.value?.schedule_id === time.id"
          (click)="onSelect(time)">{{time.time | date:'HH:mm'}}</button>
      </div>
    </div>
  </div>
</div>
