<h2 class="title-3">Задать расписание</h2>

<div *ngIf="consultations$ | async" class="__calendar">
  <mat-calendar 
    #calendar
    [minDate]="minDate" 
    [selected]="selectedDate" 
    [dateClass]="$any(dateClass)" 
    (selectedChange)="onSelectDate($event)"></mat-calendar>
  <div class="__labels">
    <div class="__exist">
      Есть запись, нажмите на окошко для просмотра
    </div>
    <div class="__free">
      Нет записи
    </div>
  </div>
</div>

<div class="__selected-date" *ngIf="schedule$ | async as schedule">
  <div class="__date-title">{{$any(selectedDate) | date:'dd.M.Y, EEEE'}}</div>
  <div class="__title">Чтобы задать расписание, выберите время и нажмите на кнопку “Сохранить”</div>
  <p>Часовой пояс: Москва</p>

  <div class="__times d-flex flex-wrap">
    <div
      class="__hour" 
      *ngFor="let hour of hours$ | async;trackBy: trackByFn"
      (click)="onSelectHour(hour)"
      [class.__selected]="hour.selected"
      [class.__setted]="hour.setted"
      [class.__disabled]="hour.disabled"
    > 
      <span mat-ripple>
        {{hour.title}}
      </span>
      <button mat-ripple *ngIf="hour.setted" class="__remove-btn" (click)="onTimeRemove($event, hour.unix)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="__mb-35">
    <button mat-raised-button size="medium" color="primary" (click)="onSave()" [disabled]="isLoading$ | async">Сохранить</button>
  </div>
  <div class="__note d-flex align-items-center">
    Задано расписание, редактировать
  </div>
</div>
