@import "mixins";

:host {
  display: block;
  background: var(--medium-gray-bg);
  padding: 24px 0;
  @include for-sm {
    padding: 22px 0;
  }
}

nav {
  @include for-sm {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 10px;
  }
  a {
    display: block;
    padding: 8px 19px;
    border-radius: 6px;
    color: var(--base-font-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.4s;
    &:hover,
    &.active {
      background: var(--main-color);
      color: var(--white);
    }
  }
}
.nav-select {
  display: none;
  @include for-sm {
    display: block;
    width: 100%;
    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-form-field-flex {
        background: var(--main-color);
      }
      .mat-select-value-text {
        color: var(--white);
      }
      .mat-select-arrow {
        border-top-color: var(--white);
      }
    }
  }
}
.__begin-btn {
  display: none;
  @include for-sm {
  }
}
