<h1>{{(category$ | async)?.title}}</h1>
<div class="posts" *ngIf="posts$ | async as posts">
  <psycho-post-item-primary 
    *ngFor="let post of posts | paginate: { itemsPerPage: limit, currentPage: $any(page$ | async), totalItems: $any(totalCount$ | async) };let i = index;trackBy: trackByFn"
    [post]="post"
    [class.large]="i % 3 === 0"
    [size]="i % 3 === 0 ? 'large' : 'default'"></psycho-post-item-primary>
  <pagination-controls 
    nextLabel="" 
    previousLabel="" 
    *ngIf="$any(totalCount$ | async) > limit" 
    (pageChange)="onPageChange($event)"
    ></pagination-controls>
</div>