@import "mixins";

:host {
  display: block;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  psycho-post-item-primary {
    margin-bottom: 33px;
    width: calc(50% - 17px);
    @include for-sm {
      width: 100%;
    }
    &.large {
      width: 100%;
    }
  }
}
