:host {
  display: block;
  h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  psycho-post-item-primary {
    margin-bottom: 33px;
    width: calc(50% - 17px);
    &.large {
      width: 100%;
    }
  }
}
