<div class="h4">Выберите формат консультации</div>

<div class="__cards d-flex flex-wrap align-items-center">
  <div [class.selected]="parentFormatSelected" (click)="onFormatSelect(-1)" mat-ripple class="__card d-flex flex-column">
    <div class="__card-inner">
      <div class="__card-title">
        Полноценная онлайн <br>консультация <br>
        с психологом 
      </div>
      <p>Видео-консультация или чат-сессия</p>
      <div class="__card-price __with-time">
        {{prices.FORMT_FULL_PRICE | number}}  ₽
      </div>
      <div class="__card-time">50 мин</div>
    </div>
  </div>
  <div [class.selected]="selectedFormat === formats.FORMAT_EXPRESS" (click)="onFormatSelect(formats.FORMAT_EXPRESS)" mat-ripple class="__card d-flex flex-column">
    <div class="__card-inner">
      <div class="__card-title">
        Экспресс-<br>консультация 
      </div>
      <p>Ответ на один срочный вопрос в чат </p>
      <div class="__card-price">
        {{prices.FORMT_EXPRESS_PRICE | number}}   ₽
      </div>
    </div>
  </div>
</div>


<div *ngIf="parentFormatSelected">
  <p class="p">
    Выбрите, каким способом вам удобно получить консультацию
  </p>
  <div  class="__cards-mini d-flex flex-wrap align-items-center">
    <div [class.selected]="selectedFormat === formats.FORMAT_FULL_VIDEO" (click)="onFormatSelect(formats.FORMAT_FULL_VIDEO)" mat-ripple class="__card d-flex flex-column">
      <div class="__card-inner">
        <div class="__card-title">Видео</div>
        <div class="__card-price">50 <br>мин</div>
      </div>
    </div>
    <div [class.selected]="selectedFormat === formats.FORMAT_FULL_CHAT" (click)="onFormatSelect(formats.FORMAT_FULL_CHAT)" mat-ripple class="__card d-flex flex-column">
      <div class="__card-inner">
        <div class="__card-title">Чат</div>
        <div class="__card-price">50 <br>мин</div>
      </div>
    </div>
  </div>
</div>