@import "mixins";
:host {
  display: block;
  background-color: var(--white);
  padding-bottom: 200px;
  padding-top: 96px;
  @include for-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  ::ng-deep {
    .owl-carousel {
      position: static;
    }
    .owl-nav {
      margin: 0;
      padding: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 83px;
      position: absolute;
      @include for-sm {
        position: static;
        padding-top: 40px;
      }

      .owl {
        &-prev,
        &-next {
          height: 56px;
          width: 56px;
          background: var(--main-color);
          border-radius: 50%;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.3s, background-color 0.3s;
          margin: 0 13px;
          &.disabled {
            border: 1px solid #cccccc;
            background: none;
            opacity: 1;
            &::before {
              border-color: #cccccc;
            }
          }
          &::before {
            height: 15px;
            width: 15px;
            border: {
              top: 2px solid var(--white);
              right: 2px solid var(--white);
            }
            content: "";
          }
        }
        &-prev {
          &::before {
            transform: rotate(-140deg);
            margin-right: -2px;
          }
        }
        &-next {
          &::before {
            transform: rotate(45deg);
            margin-left: -2px;
          }
        }
      }
    }
  }
}

.title-1 {
  margin-bottom: 58px;
  @include for-sm {
    margin-bottom: 33px;
  }
}

.__slider {
  position: relative;
  @include for-sm {
    flex-direction: column;
  }
  owl-carousel-o {
    flex: 1;
    min-width: 0;
  }
}
.slides-desc {
  font-size: 24px;
  width: 400px;
  position: relative;
  margin-right: 45px;
  @include for-sm {
    height: 150px;
    width: auto;
    font-size: 16px;
    margin-right: 0;
  }
  strong {
    font-weight: 700;
  }
  .__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .__number {
    height: 74px;
    width: 74px;
    margin-right: 22px;
    background: var(--orange);
    line-height: 74px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    border-radius: 50%;
    margin-top: -5px;
    @include for-sm {
      height: 56px;
      width: 56px;
      line-height: 56px;
      margin-right: 17px;
    }
  }
}
