<div class="container">
  <div class="title-1 text-center">Как это работает</div>
  <div class="__slider d-flex">
    <div class="slides-desc">
      <div *ngFor="let item of carouselItems;let i = index" class="__item d-flex" [class.active]="activeSlide === (i + 1)">
        <div class="__number">{{i+1}}</div>
        <div class="flex-1" [innerHTML]="item.title | safe:'html'"></div>
      </div>
    </div>
    <owl-carousel-o 
      [options]="customOptions"
      (initialized)="setActiveSlideNumber($event)"
      (changed)="setActiveSlideNumber($event)">
      <ng-template *ngFor="let item of carouselItems" carouselSlide>
        <img [src]="item.img" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
</div>