:host {
  display: block;
}

.__header {
  margin-bottom: 65px;
  .__avatar {
    position: relative;
  }
  psycho-picture {
    width: 150px;
    height: 150px;
    background: var(--main-color-2);
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
  }

  .__text {
    flex: 1;
    min-width: 0;
    font-weight: 600;
    font-size: 20px;
    span {
      border-bottom: 1px dashed var(--base-font-color);
      margin-right: 20px;
    }
  }

  .h4 {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.__mr-20 {
  margin-right: 20px;
}

.__mb-20 {
  margin-bottom: 20px;
}
.__mb-10 {
  margin-bottom: 10px;
}

.__upload-avatar {
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px dashed;
  input {
    display: none;
  }
}

.__form {
  margin-bottom: 40px;
  psycho-input {
    width: 300px;
    margin-right: 20px;
  }
  .form-field {
    button {
      margin-bottom: 22px;
    }
  }
  button {
    min-width: 250px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    padding: 0;
    font-weight: 600;
  }
}

.__slogan {
  font-weight: 400;
  font-size: 16px;
}

.__change-slogan-btn {
  border: none;
  color: #888888;
  margin-top: 5px;
  background: none;
  border-bottom: 1px dashed;
  padding: 0;
  cursor: pointer;
}

.hr {
  border: 0.5px solid #2b2a2a;
  margin: 40px 0;
}

.__card {
  padding: 30px;
  background-color: #f5f6ff;
  margin-bottom: 30px;
  .__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.__subjects {
  display: flex;
  flex-wrap: wrap;
  span {
    background-color: #b6bdf0;
    padding: 10px 14px;
    color: var(--white);
    margin: 0 12px 12px 0;
    border-radius: 6px;
  }
}
