<div class="container">
  <ul class="__list">
    <li>
      <div class="__title">Не подошел психолог, предложим  другого</div>
      Так иногда бывает. Предложим такого специалиста, с которым вам будет максимально комфортно
    </li>
    <li>
      <div class="__title">Удобная и безопасная оплата</div>
      Без переводов на карту и сомнительных сервисов 
    </li>
    <li>
      <div class="__title">Справедливая и понятная цена</div>
      Приятная цена за качественную работу
    </li>
    <li>
      <div class="__title">Только лучшие специалисты в своей области</div>
      Мы отобрали только тех, кому доврям сами
    </li>
    <li>
      <div class="__title">Напоминам о <br>сессиях</div>
      Отправим смс-уведомление за час до консультации
    </li>
  </ul>
  <div class="__btn">
    <a [routerLink]="['/auth/signup']" mat-raised-button color="primary">Подобрать психолога</a>
  </div>
</div>