<div class="__top-wave wave-bg"></div>
<div class="container">
  <ul class="radio-list __large">
    <li>
      <div class="__title">Только лучшие специалисты<br> в своей области</div>
      Мы отобрали только тех, <br>кому доврям сами
    </li>
    <li>
      <div class="__title">Напоминам о сессиях</div>
      Отправим смс-уведомление<br> за час до консультации
    </li>
    <li>
      <div class="__title">Не подошел психолог, <br>предложим  другого</div>
      Так иногда бывает. Предложим <br>такого специалиста, с которым <br>вам будет максимально<br> комфортно
    </li>
    <li>
      <div class="__title">Удобная и безопасная<br> оплата</div>
      Без переводов на карту и сомнительных сервисов 
    </li>
    <li>
      <div class="__title">Справедливая и<br>понятная цена</div>
      Приятная цена за <br>качественную работу
    </li>
  </ul>
  <img src="/assets/img/pick-up.png" alt="">
  <div class="__btn">
    <button mat-raised-button color="accent" size="large">Подобрать психолога</button>
  </div>
</div>
<div class="__bottom-wave wave-bg"></div>