<h1 class="title-1">Быстрая регистрация</h1>
<div class="d-flex flex-wrap reg-wrap">
  <form *ngIf="!(smsSent$ | async);else confirmForm" [formGroup]="form" (ngSubmit)="sendSMS()">
    <p>Моментальная регистрация.
      Введите свой номер телефона</p>
    <psycho-tel-input [control]="$any(form.get('phone'))"></psycho-tel-input> 
    <div class="d-flex align-items-end justify-content-between __btns">
      <button mat-raised-button color="primary">Получить код</button>
      <a [routerLink]="['/auth/login']">Войти</a>
    </div>
    <div class="__note">
      Вводя свой номер, вы принимаете <a href="#">условия пользовательского соглашения</a> , даете согласие на обработку персональных данных
    </div>
  </form>
  <div class="reg-desc">
    <div class="__title">Подберем для вас специалиста <br>за 3 простых шага</div>
    <ul class="radio-list">
      <li>Заполните анкету</li>
      <li>Выберите терапевта из рекомендованных</li>
      <li>Запишитесь на подходящее<br> время</li>
    </ul>
  </div>
</div>
<ng-template #confirmForm>
  <form [formGroup]="form" (ngSubmit)="onSignup()">
    <p>
      Введите последние 4 цифры номера, с которого вам поступил звонок
    </p>
    <psycho-input 
      [control]="$any(controls.code)"
      placeholder="Код из смс"
      class="code"></psycho-input>
    <psycho-input 
      [control]="$any(controls.password)"
      placeholder="Придумайте пароль"
      type="password"></psycho-input>
    <psycho-input 
      [control]="$any(controls.repeat_password)"
      placeholder="Повторите пароль"
      type="password"></psycho-input>
    <div class="__hint">
      Код действителен в течение 2-х минут.
      Если звонок вам не поступил, нажмите <a href="#" (click)="sendSMS($event)">сюда</a> чтобы повторить.
    </div>
    <div class="d-flex justify-content-between"><button mat-raised-button color="primary">Далее</button>
      <button type="button" (click)="goBack()" mat-raised-button >Назад</button></div>

  </form>
</ng-template>