:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat {
  &-header {
    background: var(--main-color);
    color: var(--white);
    padding: 12px 15px;
  }
  &-body {
    flex: 1;
    min-width: 0;
  }
  &-footer {
    flex: 1;
  }
}
