:host {
  display: block;
  height: 100%;
  padding-bottom: 20px;
}

.__item {
  margin-bottom: 16px;
  padding: 20px;
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  &.active {
    background: var(--white);
    color: var(--base-font-color);
    .__item {
      &-header {
        psycho-picture {
          background-color: var(--accent-bg-medium);
        }
      }
      &-btns {
        .__btn:not(.__primary) {
          color: var(--base-font-color);
          border-color: var(--main-color);
        }
      }
    }
  }
  &-header {
    margin-bottom: 14px;
    psycho-picture {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: 12px;
      background-color: var(--white);
    }
  }
  &-name {
    font-size: var(--base-font-color);
    font-weight: 600;
    line-height: 1.1;
    flex: 1;
    min-width: 0;
  }
  &-btns {
    .__btn {
      height: 36px;
      padding: 0 12px;
      border-color: var(--white);
      color: var(--white);
      line-height: 34px;
      font-weight: 600;
      ::ng-deep {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
