<h1 class="title-1">Восстановление пароля</h1>
<div class="d-flex flex-wrap reg-wrap">
  <form *ngIf="!(smsSent$ | async);else confirmForm" [formGroup]="passwordResetForm" (ngSubmit)="sendSMS()">
    <p>Для восстановления пароля, введите свой номер телефона</p>
    <psycho-tel-input [control]="$any(passwordResetForm.controls.phone)"></psycho-tel-input> 
    <div class="d-flex align-items-end justify-content-between __btns">
      <button mat-raised-button color="primary">Получить код</button>
      <a [routerLink]="['/auth/login']">Войти</a>
    </div>
  </form>
</div>
<ng-template #confirmForm>
  <form [formGroup]="passwordResetRequestForm" (ngSubmit)="onResetRequest()">
    <p>
      Код отправлен на номер
      <br>
      {{passwordResetForm.controls.phone.value}}
    </p>
    <psycho-input 
      [control]="$any(passwordResetRequestForm.controls.code)"
      placeholder="Код из смс"
      class="code"></psycho-input>
    <psycho-input 
      [control]="$any(passwordResetRequestForm.controls.password)"
      placeholder="Придумайте пароль"
      type="password"></psycho-input>
    <psycho-input 
      [control]="$any(passwordResetRequestForm.controls.repeat_password)"
      placeholder="Повторите пароль"
      type="password"></psycho-input>
    <div class="__hint">
      Код действителен в течение 2-х минут.
      Если код вам так и не пришел, нажмите <a href="#" (click)="sendSMS($event)">сюда</a> чтобы его переслать.
    </div>
    <div class="d-flex justify-content-between"><button mat-raised-button color="primary">Далее</button>
      <button type="button" (click)="goBack()" mat-raised-button >Назад</button></div>

  </form>
</ng-template>