@import "mixins";
:host {
  display: block;
}

.title-1 {
  text-transform: none;
  font-size: 35px;
}

.radio-list {
  li {
    font-weight: 400;
    margin-bottom: 15px;
  }
}

a {
  color: var(--na-link-color);
}

.reg-wrap {
  > * {
    width: 380px;
    @include for-sm {
      width: auto;
    }
  }
}

.__btns {
  margin-bottom: 18px;
}

.__note {
  a {
    color: var(--main-color);
    opacity: 0.8;
  }
}

.reg-desc {
  .__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.code {
  width: 190px;
  display: block;
}
.__hint {
  font-size: 16px;
  margin-bottom: 25px;
}
form {
  margin-right: 120px;
  @include for-sm {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
