@import "mixins";
:host {
  display: block;
  background: var(--accent);
  color: var(--white);
}

.footer {
  &__top {
    padding: 90px 0 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include for-sm {
      padding: 40px 0;
      .container {
        flex-direction: column;
      }
    }
  }
  &__nav {
    margin-bottom: 60px;
    @include for-sm {
      margin-bottom: 24px;
      justify-content: space-between;
    }
    a {
      color: var(--white);
      text-decoration: none;
      margin-right: 70px;
      font-size: 18px;
      font-weight: 600;
      white-space: nowrap;
      @include for-sm {
        font-size: 15px;
        margin: 0;
      }
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__nets {
    p {
      margin-bottom: 20px;
    }
    .d-flex {
      margin-bottom: 40px;
      @include for-sm {
        justify-content: center;
        margin-bottom: 24px;
      }
      a {
        margin-right: 30px;
        text-decoration: none;
      }
    }
  }
  &__note {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    margin: 0 50px;
    @include for-sm {
      order: 3;
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
  }
  &__right {
    @include for-sm {
      order: 2;
      text-align: center;
    }
    .__en {
      margin-bottom: 33px;
    }
    a:not(.__en) {
      color: var(--white);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__bottom {
    padding: 20px 0 30px;
  }
}
.footer__bottom {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  @include for-sm {
    font-size: 14px;
    .container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      > * {
        &:not(:last-child) {
          margin-bottom: 22px;
        }
      }
    }
  }

  a {
    display: block;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
