<div class="footer__top">
  <div class="container d-flex justify-content-between">
    <div class="footer__left">
      <div class="footer__nav d-flex">
        <a *ngFor="let item of menuItems" [routerLink]="item.url">{{item.label}}</a>
      </div>
      <div class="footer__nets">
        <div class="d-flex" *ngIf="contacts">
          <a [href]="contacts?.facebook | safe:'url'" target="_blank">
            <img src="/assets/img/fb.png">
          </a>
          <a [href]="contacts?.vk | safe:'url'" target="_blank">
            <img src="/assets/img/vk.png">
          </a>
          <a [href]="contacts?.twitter | safe:'url'" target="_blank">
            <img src="/assets/img/tw.png">
          </a>
          <a [href]="contacts?.telegram | safe:'url'" target="_blank">
            <img src="/assets/img/tg.png">
          </a>
          <a [href]="contacts?.instagram | safe:'url'" target="_blank">
            <img src="/assets/img/inst.png">
          </a>
        </div>
        
      </div>
    </div>
    <div class="footer__note">
      Внимание! Если вам срочно необходима психологическая помощь, а также в ситуациях угрожающих жизни и здоровью, мы рекомендуем обратиться в эти важные организации: <a [routerLink]="['srocnaa-psihologiceskaa-pomos']">срочная психологическая помощь</a>.
    </div>
    <div class="footer__right">
      <a *ngIf="isHomePage" class="__en" [routerLink]="['/auth', 'login']" [queryParams]="{psychologist: true}" mat-raised-button color="primary" size="medium">Вход для специалистов</a>
      <!-- <div class="text-center">
        <a href="#">Написать в техподдержку</a>
      </div> -->
    </div>
  </div>
</div>
<div class="footer__bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="copyright">
      &copy; 2021 Корпорация Психологии: консультации психолога онлайн
    </div>
    <a *ngFor="let link of linkItems" [routerLink]="link.url">{{link.label}}</a>
  </div>
</div>