:host {
  display: block;
}
.blog {
  &-content {
    padding: 60px 0;
    &__main {
      flex: 1;
      min-width: 0;
    }
    &__sidebar {
      width: 410px;
      margin-left: 66px;
    }
  }
}

.__content {
  margin-bottom: 50px;
}

.related-posts {
  .title-2 {
    text-transform: none;
    margin-bottom: 25px;
  }
}
