<div class="__header">
  <div class="container">
    <h3 class="title-1 text-center"><strong>Остались вопросы?</strong> <br>Мы поможем!</h3>
  
    <div class="__btns d-flex justify-content-center">
      <a target="_blank" [href]="contacts?.telegram | safe:'url'" mat-button>
        Telegram
        <mat-icon svgIcon="tg"></mat-icon>
      </a>
      <a target="_blank" [href]="contacts?.watsapp" mat-button>
        What'sApp
        <mat-icon svgIcon="whatsapp"></mat-icon>
      </a>
      <a [href]="'mailto:' + contacts?.mail" mat-button>
        E-mail
        <mat-icon svgIcon="email"></mat-icon>
      </a>
    </div>
  </div>
</div>
<div class="__body">
  <div class="container d-flex">

    <div class="flex-1">
      <div class="__calmness">
        Обретите<br> спокойствие <br>и уверенность<br> в себе
      </div>
      <button mat-raised-button color="primary">Попробовать</button>
    </div>
    <psycho-picture class="__img" origin="/assets/img/artwork.png" webp="/assets/img/artwork.webp"></psycho-picture>
  </div>
  <div class="__bottom-wave wave-bg"></div>

</div>