<div class="container">
  <div class="__header">
    <h3 class="title-1">Остались вопросы? <br>Мы поможем!</h3>

    <div class="__btns">
      <a href="#" mat-button>
        Telegram
        <mat-icon svgIcon="tg"></mat-icon>
      </a>
      <a href="#" mat-button>
        What'sApp
        <mat-icon svgIcon="whatsapp"></mat-icon>
      </a>
      <a href="#" mat-button>
        E-mail
        <mat-icon svgIcon="email"></mat-icon>
      </a>
    </div>
  </div>

  <div class="__body d-flex">
    <div class="flex-1">
      <div class="__calmness">
        Обретите спокойствие <br>и уверенность в себе
      </div>
      <button mat-raised-button color="accent" size="large">Попробовать</button>
    </div>
    <img src="/assets/img/artwork.png" alt="">
  </div>

</div>