:host {
  display: block;
  > a {
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 24px;
    color: var(--base-font-color);
    &.active {
      color: var(--main-color);
    }
  }
}

psycho-picture {
  width: 65px;
  height: 65px;
  background: var(--main-color-2);
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.__text {
  flex: 1;
  min-width: 0;
}

.h4 {
  font-weight: 600;
  margin-bottom: 0;
}
