@import "mixins";
:host {
  display: block;
  @include for-sm {
    padding-bottom: 58px;
  }
}
.profile {
  &-sidebar {
    width: 300px;
    margin-right: 25px;
    padding-bottom: 460px;
    background: {
      color: var(--accent-bg-light);
      repeat: no-repeat;
      position: bottom right;
      size: 100% auto;
    }
    position: relative;
    padding-top: 25px;
    @include for-sm {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 102;
      padding: 2.5px 20px;
      margin: 0;
      background: var(--white) !important;
      box-shadow: 0 -10px 17px rgb(118 96 220 / 15%);
    }
    &::before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 50vw;
      background: var(--accent-bg-light);
      content: "";
      @include for-sm {
        display: none;
      }
    }
    &.client-sidebar {
      background: {
        image: url(/assets/img/client-sidebar-bg.png);
      }
    }
    &.psychologist-sidebar {
      background: {
        image: url(/assets/img/psychologist-sidebar-bg.png);
      }
    }
  }
  &-content {
    flex: 1;
    min-width: 0;
    padding-top: 40px;
  }
}
.__help-btn {
  display: inline-flex;
  align-items: center;
  margin-left: 35px;
  color: var(--base-font-color);
  @include for-sm {
    display: none;
  }
  mat-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
}
