<ul>
  <li *ngFor="let item of menuItems" routerLinkActive="active">
    <a mat-ripple [routerLink]="item.value">
      <mat-icon *ngIf="item.img as icon" [svgIcon]="icon"></mat-icon>
      {{item.title}}
      <span *ngIf="item.subtitle">{{item.subtitle}}</span>
    </a>
  </li>
  <li class="__mob"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/profile']" mat-ripple>
      <mat-icon svgIcon="user"></mat-icon>
      <span>Профиль</span>
    </a>
  </li>
</ul>
