@import "mixins";

:host {
  display: block;
  @include for-sm {
    margin: 0 !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  @include for-sm {
    display: flex;
    justify-content: space-between;
  }
  li {
    position: relative;
    &.__mob {
      display: none;
      @include for-sm {
        display: block;
        mat-icon {
          height: 34px !important;
          margin: -4px 0 -3.5px !important;
        }
      }
    }
    &::after {
      position: absolute;
      width: 0;
      right: 0;
      height: 100%;
      top: 0;
      content: "";
      transition: width 0.3s;
      background-color: var(--main-color);
      @include for-sm {
        border-radius: 6px;
      }
    }
    &.active {
      &::after {
        width: 100vw;
        @include for-sm {
          display: none;
        }
      }
      a,
      button {
        color: var(--white);
        mat-icon {
          color: var(--white);
        }
        @include for-sm {
          color: var(--main-color) !important;
          mat-icon {
            color: var(--main-color) !important;
          }
        }
      }
    }
    a,
    button {
      display: flex;
      align-items: center;
      color: var(--base-font-color);
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      position: relative;
      z-index: 1;
      transition: color 0.4;
      padding: 12px 10px 12px 0;

      span {
        display: none;
      }
      @include for-sm {
        padding: 7.5px;
        font-size: 0;
        overflow: hidden;
        flex-direction: column;
        font-weight: 400;
        line-height: 1;
        span {
          font-size: 10px;
          display: block;
        }
      }
      mat-icon {
        transition: color 0.5;
        color: var(--main-color);
        margin-right: 12px;
        @include for-sm {
          margin: 0 0 5px 0;
          height: 22px;
          color: var(--base-font-color);
        }
      }
    }
  }
}
