@import "mixins";

:host {
  display: block;
  .__top {
    margin-bottom: 10px;
    background: var(--medium-gray-bg);
    border-radius: 6px;
    overflow: hidden;
    @include for-sm {
      padding-top: 20px;
    }
  }
  .__img {
    position: relative;
    width: 250px;
    height: 340px;
    border-radius: 6px;
  }
  .__text {
    padding: 25px;
    flex: 1;
    min-width: 0;
    @include for-sm {
      padding: 15px 20px;
    }
  }

  psycho-rating-stars {
    margin-bottom: 5px;
  }

  .__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  .__details {
    font-size: 17px;
    margin-bottom: 22px;
    @include for-sm {
      flex-direction: column;
      font-size: 15px;
      align-items: flex-start;
    }
    span {
      margin-right: 35px;
    }
    mat-icon {
      margin-right: 12px;
    }
  }
  psycho-picture {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    @include for-sm {
      float: none;
      margin: 0 auto 20px;
    }
  }
}
.__for-mob-details {
  display: none;
  @include for-sm {
    display: block;
    button {
      display: none;
    }
  }
}
.__bottom {
  @include for-sm {
    > * {
      display: none;
    }
    .__details {
      display: block;
      > *:not(button) {
        display: none;
      }
    }
  }
}
