:host {
  display: block;
}

psycho-breadcrumbs {
  margin-bottom: 60px;
}

.post-header {
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 35px;
  &__category {
    position: absolute;
    top: 25px;
    left: 19px;
    font-size: 16px;
    padding: 8px 35px;
    color: var(--white);
    font-weight: 700;
    line-height: 1;
    border-radius: 6px;
    background: var(--main-color);
  }
  &__sidebar {
    background: var(--light-gray-bg);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 321px;
    padding: 20px 15px;
    overflow-y: auto;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    > div {
      position: relative;
      padding-left: 45px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    p {
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
    mat-icon {
      margin-right: 21px;
      width: 28px;
      color: var(--main-color);
      position: absolute;
      top: 5px;
      left: 0;
      &.eye {
        height: 34px;
        width: 34px;
      }
    }
  }
}

.post-share {
  margin-bottom: 60px;
  .__title {
    font-size: 22px;
    text-transform: none;
    margin-bottom: 10px;
    font-weight: 600;
  }
  a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-icon {
    height: 30px;
    width: 30px;
  }
}
