@import "mixins";

:host {
  display: block;
}

psycho-breadcrumbs {
  margin-bottom: 60px;
  @include for-sm {
    margin-bottom: 20px;
  }
}

.title-1 {
  @include for-sm {
    font-size: 32px;
    line-height: 1.2;
  }
}

.post-header {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 35px;
  @include for-sm {
    margin-bottom: 0;
  }
  psycho-picture {
    height: 340px;
    @include for-sm {
      height: 290px;
    }
  }
  &__category {
    position: absolute;
    top: 25px;
    left: 19px;
    font-size: 16px;
    padding: 8px 35px;
    color: var(--white);
    font-weight: 700;
    line-height: 1;
    border-radius: 6px;
    background: var(--main-color);
  }
  &__sidebar {
    width: 100%;
    padding: 20px 0;
    overflow-y: auto;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include for-sm {
      flex-wrap: wrap;
      font-size: 14px;
      padding: 15px 0 0;
    }
    > div {
      position: relative;
      padding-left: 35px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include for-sm {
        width: calc(50% - 15px);
        margin: 0 0 15px;
        padding-left: 30px;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    p {
      color: var(--na-font-color);
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
    mat-icon,
    img {
      width: 22px;
      color: var(--main-color);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 22px;
      @include for-sm {
        font-size: 18px;
        width: 18px;
      }
      &.eye {
        height: 34px;
        width: 34px;
        @include for-sm {
          height: 26px;
          width: 26px;
        }
      }
    }
  }
}

.post-share {
  margin-bottom: 60px;
  @include for-sm {
    margin-bottom: 0;
  }
  .__title {
    font-size: 22px;
    text-transform: none;
    margin-bottom: 10px;
    font-weight: 600;
    @include for-sm {
      font-size: 18px;
      font-weight: 700;
    }
  }
  a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-icon {
    height: 30px;
    width: 30px;
  }
}
