<div id="main">
  <psycho-header 
    *ngIf="mainMenu$ | async as mainMenu" 
    [menuItems]="mainMenu"
    [userData]="userData$ | async"
    [linkItems]="$any(linkItems$ | async)"
    [isHomePage]="$any(isHomePage$ | async)"
    [isAuthPage]="$any(isAuthPage$ | async)"
    [isProfilePage]="$any(isProfilePage$ | async)"
    (logout)="onLogout()"
    [contacts]="$any(contacts$ | async)"></psycho-header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<psycho-footer
  *ngIf="((isProfilePage$ | async) && isMobile) === false"
  [isHomePage]="$any(isHomePage$ | async)"
  [menuItems]="$any(footerMenu$ | async)"
  [linkItems]="$any(linkItems$ | async)"
  [contacts]="$any(contacts$ | async)"></psycho-footer>