<h2 class="title-3">Мои психологи</h2>

<psycho-psychologist-card 
  *ngFor="let psychologist of psychologists$ | async"
  [psychologist]="psychologist">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <div class="__slogan">
        “{{psychologist.slogan}}”
      </div>
      <div class="__btns d-flex flex-column align-items-start">
        <button class="__sub-btn" mat-raised-button color="primary" size="medium" (click)="onSign(psychologist)">
          Записаться
        </button>
        <button mat-button size="medium" (click)="showInfo(psychologist)">
          Подробнее
        </button>
        <button mat-button size="medium" (click)="onComment(psychologist)">
          Оставить отзыв
        </button>
      </div>
    </div>
    
    <div class="__right-block" *ngIf="selectedPsychologist && psychologist.id === selectedPsychologist?.id">
      <div class="text-right">
        <button class="__close" (click)="hideInfo()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="__right-block-inner">
        <psycho-psychologist-info *ngIf="infoView" [psychologist]="selectedPsychologist"></psycho-psychologist-info>

        <div *ngIf="commenting" class="__comment-block">
          <div class="p">Оцените работу психолога</div>
          <form [formGroup]="commentForm" (ngSubmit)="commentAndRate()">
            <psycho-rating-stars [readonly]="false" (rated)="onRate($event)"></psycho-rating-stars>

            <p>Поделитесь своими впечатлениями, вам удалось решить проблему?</p>
            <psycho-textarea [control]="$any(commentForm.get('review'))"></psycho-textarea>
            <button mat-raised-button [disabled]="commentForm.invalid" color="primary">Оставить отзыв</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</psycho-psychologist-card>