@import "mixins";

:host {
  display: block;
  ::ng-deep {
    psycho-psychologist-card {
      .__top {
        background: none !important;
      }
      .__text {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 340px;
        display: flex;
        flex-direction: column;
        @include for-sm {
          height: auto;
        }
      }
    }
  }
}
psycho-psychologist-card {
  &:not(:last-child) {
    margin-bottom: 55px;
  }
  .__inn {
    @include for-sm {
      flex-direction: column;
    }
  }
}
.__slogan {
  font-weight: 600;
  max-width: 260px;
  margin-bottom: 25px;
  @include for-sm {
    margin: 0 auto 20px;
  }
}

.__btns {
  margin-top: auto;
  flex: 1;
  min-width: 0;
  margin-right: 20px;
  @include for-sm {
    margin: 0;
  }
  > * {
    min-width: 260px;
    @include for-sm {
      margin: 0 auto 9px;
    }
    &:not(:last-child) {
      margin-bottom: 9px;
    }
    &.__sub-btn {
      margin-bottom: 30px;
    }
  }
}

.__right-block {
  width: 360px;
  padding: 10px 25px 25px;
  background: #efefef;
  height: 340px;
  @include for-sm {
    height: auto;
    width: 100%;
  }
  .__close {
    margin-right: -12px;
    color: var(--main-color);
  }
  &-inner {
    height: calc(100% - 50px);
    overflow: auto;
  }
}
.__height-100 {
  height: 100%;
}

.__comment-block {
  .p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  psycho-rating-stars {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  ::ng-deep {
    textarea {
      height: 130px;
    }
  }
}
