<div *ngIf="ads && ads[0]" [innerHTML]="ads[0] | safe:'html'" class="sb-block-1"></div>
<div class="new-articles">
  <h3 class="title-3">Новые статьи</h3>
  <psycho-post-item-secondary 
    *ngFor="let article of newArticles;let i = index; trackBy: trackByFn" 
    [post]="article"
    [class.flex-column-reverse]="i === 5 || i === 6"
    [class.flex-row-reverse]="i % 2 ===0 && (i !== 5 && i !== 6)"></psycho-post-item-secondary>
</div>
<div *ngIf="ads && ads[1]" [innerHTML]="ads[1] | safe:'html'" class="sb-block-1"></div>
