<psycho-home-greetings-block></psycho-home-greetings-block>
<psycho-home-subjects *ngIf="subjects$ | async as subjects" [subjects]="subjects$ | async"></psycho-home-subjects>
<psycho-home-trusted-spec-desc></psycho-home-trusted-spec-desc>
<psycho-home-trusted-specs *ngIf="psychologists$ | async as psychologists" [psychologists]="psychologists"></psycho-home-trusted-specs>
<psycho-home-services-price></psycho-home-services-price>
<psycho-home-first-meeting></psycho-home-first-meeting>
<psycho-home-how-it-works></psycho-home-how-it-works>