<div class="__top-wave wave-bg"></div>
<div class="container">
  <h3 class="title-2">Занимайтесь когда и где вам<br> удобно​ с любого устройства</h3>

  <div class="online-chat">
    <div class="__option __chat">
      <div class="__title">Чат с психологом</div>
      <div>Формат для тех, кому проще начинать общение через переписку</div>
    </div>
    <div class="__option __video">
      <div class="__title">Видеосвязь</div>
      <div>Очная сессия с психологом с любого устройства из личного кабинта</div>
    </div>
    <img src="/assets/img/online-chat.png" alt="">
  </div>
</div>