<div class="__top-wave wave-bg"></div>
<div class="container">
  <h3 class="title-1 text-center"><strong>Занимайтесь когда и где <br>вам удобно​</strong> с любого<br> устройства</h3>

  <div class="online-chat">
    <div class="__option __video">
      <div class="__title">Видеосвязь</div>
      <div>Очная сессия с психологом с любого устройства из личного кабинта</div>
    </div>
    <div class="__z __zgroup2">
      <img src="/assets/img/z3.webp" alt="">
      <img src="/assets/img/z3-1.webp" alt="">
    </div>
    <div class="__option __chat">
      <div class="__title">Чат с психологом</div>
      <div>Формат для тех, кому проще начинать общение через переписку</div>
    </div>
   
    <div class="__z __zgroup1">
      <img src="/assets/img/z1.webp" alt="">
      <img src="/assets/img/z2.webp" alt="">
    </div>
   
  </div>
</div>