@import "mixins";

button,
a {
  &.mat-button {
    border: 1px solid var(--main-color);
    border-radius: 6px;
    padding: 18px 30px;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
  }
  &.mat-button-base {
    span {
      font-size: 16px;
    }
  }
  &.bold {
    font-weight: 700;
  }
  &.mat-raised-button {
    padding: 18px 30px;
    line-height: 1;
    border-radius: 6px;
    font-weight: 600;
    &:hover {
      background-color: var(--main-color-2);
    }
    &:not(.no-shadow) {
      box-shadow: 0px 16px 17px rgba(118, 96, 220, 0.15) !important;
    }
  }
  &[size="large"] {
    padding: 28px 45px;
    font-size: 22px;
    font-weight: 700;
  }
  &[size="medium"] {
    padding: 21px 35px;
    font-size: 19px;
    font-weight: 700;
  }
  &[size="sm-small"] {
    @include for-sm {
      padding: 12px 25px;
      font-size: 14px;
    }
    span {
      font-size: 16px;
      @include for-sm {
        font-size: 14px;
      }
    }
  }
}
