button,
a {
  &.mat-button {
    border: 1px solid var(--main-color);
    border-radius: 6px;
    padding: 13px 28px;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    span {
      font-size: 18px;
    }
  }
  &.mat-button-base {
    span {
      font-size: 18px;
    }
  }
  &.bold {
    font-weight: 700;
  }
  &.mat-raised-button {
    padding: 17px 28px;
    line-height: 1;
    border-radius: 6px;
    font-weight: 600;
  }
  &[size="large"] {
    padding: 28px 45px;
    font-size: 22px;
    font-weight: 700;
  }
  &[size="medium"] {
    padding: 21px 35px;
    font-size: 19px;
    font-weight: 700;
  }
}
