body {
  input[type="text"]:focus {
    outline: none !important;
  }
  mat-form-field.mat-form-field {
    margin-bottom: 0;
  }
  psycho-input {
    &.no-error-message {
      .mat-form-field-appearance-legacy,
      mat-form-field {
        .mat-form-field {
          &-wrapper {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  app-datepicker {
    .mat-form-field-suffix {
      position: absolute;
      right: 20px;
      top: 14px;
    }
  }

  .form-field {
    margin-bottom: 20px;
  }

  .from-to-fields {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    app-input-autocomplete {
      width: calc(50% - 7.5px);
    }

    > span {
      position: absolute;
      top: 8px;
      left: calc(50% - 17px);
      border-radius: 50%;
      border: 1px solid var(--border-color-custom);
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--white);
      z-index: 1;
    }

    .from-field {
      mat-icon {
        color: var(--accent);
      }
    }

    .to-field {
      mat-icon {
        color: var(--main-color);
      }
    }

    mat-form-field,
    .mat-form-field {
      mat-icon {
        position: absolute;
        left: 20px;
        top: calc(50% - 10px);
        font-size: 20px;
      }

      &.placeholder-instead-label {
        .mat-input-element {
          padding-left: 40px;
        }

        .mat-form-field-label-wrapper {
          .mat-form-field-label {
            padding-left: 40px;
          }
        }
      }
    }
  }

  .fields-group {
    margin-bottom: calc(24px - 1.5em);
  }
  psycho-textarea {
    mat-form-field,
    .mat-form-field-appearance-legacy,
    .mat-form-field-appearance-fill {
      .mat-form-field-flex {
        height: auto;
        background: var(--white);
        border-radius: 6px;
        textarea {
          padding: 20px;
        }
      }
    }
  }
  mat-form-field,
  .mat-form-field-appearance-legacy,
  .mat-form-field-appearance-fill {
    width: 100%;
    font-family: var(--base-font-family);
    .mat-form-field {
      &-infix {
        margin: 0;
        padding: 0;
        top: 0;
        border: none;
        position: static;
      }
      &-prefix {
        padding-left: 20px;
      }
      &-suffix {
        padding-right: 20px;
      }
    }
    &.file-input-field {
      .mat-form-field-flex {
        border: none;
        background: none;
        padding: 0;
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-input-element {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }

    &.mat-focused {
      .mat-form-field-flex {
        border-color: var(--main-color);
      }
      .mat-form-field-label {
        color: var(--main-color);
      }
    }

    .mat-form-field-flex {
      border: 1px solid transparent;
      background-color: var(--input-bg-color);
      padding: 0;
      height: 55px;
      align-items: center;
      border-radius: 4px;
      transition: border-color 0.3s, background-color 0.3s;
    }

    &.is-invalid {
      .mat-form-field-flex {
        border-color: var(--danger);
      }
    }

    &.mat-form-field-disabled {
      .mat-form-field-flex {
        background: var(--disabled-bg-color);
        border: none;
      }
    }

    &.has-label {
      margin-top: 1.6em;
    }

    &.placeholder-instead-label {
      .mat-form-field-infix {
        position: relative;
      }
      .mat-form-field-label-wrapper {
        top: 0;

        .mat-form-field-label {
          position: static;
          padding-left: 20px;
          transition: opacity 0.3s;
          color: var(--placeholder-color);
        }
      }

      &.mat-form-field-should-float {
        .mat-form-field-label-wrapper {
          .mat-form-field-label {
            opacity: 0;
          }
        }
      }
    }

    .mat-form-field-label-wrapper {
      padding-top: 0;
      top: -1.6em;
    }

    .mat-form-field-label {
      transform: none !important;
      top: 0;
      font-size: var(--base-font-size);
      font-weight: 600;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
  .bordered-fields {
    .mat-form-field-flex {
      background: var(--white);
      border: 1px solid var(--border-color);
    }
  }
  .mat-date-range-input-container {
    padding: 0 20px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    fill: var(--na-font-color);
    width: 20px;
  }

  .mat-select-arrow {
    color: var(--na-font-color);
    margin: 0 20px 0 10px;
  }

  .mat-select-value {
    color: var(--na-font-color);
    padding-left: 20px;
  }

  .mat-autocomplete-panel {
    background: var(--white);
    border: 1px solid var(--main-color);
  }

  .mat-option {
    color: var(--base-font-color);
    background: var(--white);

    &.mat-active {
      background: var(--main-color) !important;
      color: var(--white) !important;
      * {
        color: var(--white);
      }
    }

    &:hover {
      background: var(--main-color) !important;
      color: var(--white) !important;
      * {
        color: var(--white);
      }
    }
  }

  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background: var(--main-color) !important;
    color: var(--white) !important;
    * {
      color: var(--white);
    }
  }

  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: var(--na-font-color);
  }

  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    font-family: var(--base-font-family);
  }
  .mat-calendar-body-selected {
    background-color: var(--main-color);
    color: var(--white);
  }

  .mat-calendar-body-in-range {
    .mat-calendar-body-cell-content {
      color: var(--white);
    }
  }
  .mat-calendar-body-cell:hover {
    .mat-calendar-body-cell-content {
      color: var(--white);
    }
  }
  .mat-calendar-body-active {
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      color: var(--white);
      background: var(--main-color);
    }
  }
  .highlight-dates:not(.mat-calendar-body-disabled):not(.mat-calendar-body-active) {
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      background: var(--accent-bg-medium);
    }
  }
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--border-color-lighter);
  }

  .mat-checkbox {
    font-family: var(--base-font-family);
    &.__wrap {
      .mat-checkbox-layout {
        white-space: normal;
        display: flex;
        align-items: center;
      }
    }
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-background {
    background: none;
    border: 2px solid var(--main-color);
    border-radius: 4px;
  }
  .mat-checkbox-inner-container {
    margin: 1px 14px 0 0;
    width: 20px;
    height: 20px;
  }
  .mat-checkbox.no-label {
    .mat-checkbox-inner-container {
      margin: 0;
    }
  }
  .mat-checkbox-checkmark {
    fill: var(--main-color);
  }
  .mat-checkbox-checkmark-path {
    stroke: var(--main-color) !important;
  }
  .mat-checkbox-layout {
    align-items: flex-start;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 1.3;
    align-self: center;
  }

  .mat-slide-toggle-bar {
    width: 60px;
    height: 36px;
    border-radius: 40px;
    border: 2px solid var(--na-font-color);
    background: var(--white) !important;
    box-shadow: none;
  }

  .mat-slide-toggle {
    &.mat-checked {
      .mat-slide-toggle-thumb-container {
        transform: translate3d(25px, 0, 0);

        .mat-slide-toggle-thumb {
          background: var(--main-color);
        }
      }
      .mat-slide-toggle-bar {
        border-color: var(--main-color);
      }
    }
    .mat-slide-toggle-thumb-container {
      width: 24px;
      height: 24px;
      top: 3.5px;
      left: 3px;
      .mat-slide-toggle-thumb {
        width: 100%;
        height: 100%;
        background: var(--na-font-color);
        box-shadow: none;
      }
    }
  }
  .mat-radio {
    &-label {
      white-space: normal;
      align-items: flex-start;
      .__hint {
        font-size: 16px;
        color: var(--na-font-color);
        display: block;
      }
    }
  }
}

.mat-hint {
  font-style: italic;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: var(--main-color);
}

.label-hint {
  color: var(--disabled-font-color);
}

.page-search {
  width: 214px;
  max-width: 100%;
  display: block;
  .mat-form-field-flex {
    height: 36px;
  }
  mat-icon {
    color: var(--na-font-color);
    font-size: 18px;
  }
}

.per-page-select {
  // min-width: 232px;
  .mat-form-field-flex,
  .mat-form-field-appearance-legacy .mat-form-field-flex {
    height: 36px;
    box-shadow: 0px 2px 10px rgba(102, 102, 102, 0.25);
    border: none;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.form-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}
.form-col {
  width: 340px;
  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 37px;
  }
}

mat-icon.label-tooltip {
  font-size: 12px !important;
  color: var(--na-font-color);
  margin-left: 10px;
}
.mat-form-field-label mat-label {
  pointer-events: auto !important;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
}

.hide-radio-circle {
  font-size: 13px;
  .mat-radio-container {
    display: none;
  }
  .mat-radio-label-content {
    padding-left: 0;
    padding-right: 8px;
  }
  mat-radio-button.mat-radio-checked {
    color: var(--main-color);
  }
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: var(--main-color);
  background: var(--main-color);
}

body {
  .mat-form-field-appearance-legacy .mat-form-field-label,
  .mat-select-disabled .mat-select-value,
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: var(--base-font-color);
  }
  .mat-form-field-appearance-legacy .mat-hint {
    color: var(--na-font-color);
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--danger);
  }
  .mat-calendar-arrow {
    border-top-color: var(--na-font-color);
  }
  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: var(--na-font-color);
  }
  .mat-calendar-table-header-divider::after {
    background: var(--border-color-lighter);
  }
  .mat-radio-outer-circle {
    border-color: var(--na-font-color);
  }
}
