.container {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-width: 1280px;
}
.radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    &::before {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: var(--main-color);
      content: "";
      display: block;
      border: 7px solid var(--main-color-light);
      margin-right: 12px;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.title-1 {
  font-size: 40px;
  font-weight: 600;
}
