psycho-root {
  overflow: hidden;
  min-width: 1600px;
}

.container {
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    padding-left: 36px;
    &::before {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: var(--main-color);
      content: "";
      display: block;
      border: 7px solid var(--main-color-light);
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  &.__large {
    > li {
      font-size: 24px;
      padding-left: calc(57px + 43px);
      font-weight: normal;
      &::before {
        height: 57px;
        width: 57px;
        border-width: 16px;
      }
    }
  }
}

.title-1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.wave-bg {
  position: absolute;
  width: 1920px;
  left: calc(50% - 960px);
}
