<h2 class="title-3">{{title$ | async}}</h2>
<psycho-profile-chat-layout *ngIf="intervieweesOnline$ | async as intervieweesOnline">
  <ng-container new>
    <ng-container [ngTemplateOutlet]="consultations" [ngTemplateOutletContext]="{$implicit: newConsultations$ | async, intervieweesOnline: intervieweesOnline}"></ng-container>
  </ng-container>
  <ng-container past>
    <ng-container [ngTemplateOutlet]="consultations" [ngTemplateOutletContext]="{$implicit: pastConsultations$ | async, intervieweesOnline: intervieweesOnline}"></ng-container>
  </ng-container>

  
  <psycho-chat 
    *ngIf="selectedConsultation$ | async as selectedConsultation" 
    (endConsultation)="onConsultationEnd()"
    (startConsultation)="onConsultationStart()"
    [receiver]="$any(receiver$ | async)"
    [consultation]="selectedConsultation"
    [userRole]="userRole"
    [includesVideoChat]="$any(includesVideoChat$ | async)"
    [showEndChatButton]="showEndChatButton"
  ></psycho-chat>


</psycho-profile-chat-layout>

<ng-template #consultations let-consultations let-onlines="intervieweesOnline">
  <div *ngFor="let consultation of consultations" class="__item"
    mat-ripple 
    (click)="onSelect(consultation)"
    [class.active]="(selectedConsultation$ | async)?.id === consultation.id"  
  >
    <div  class="__item-header d-flex align-items-center">
      <ng-container *ngIf="consultation?.client as user" [ngTemplateOutlet]="userData" [ngTemplateOutletContext]="{$implicit: user, onlines: onlines}"></ng-container>
      <ng-container *ngIf="consultation?.psychologist as user" [ngTemplateOutlet]="userData" [ngTemplateOutletContext]="{$implicit: user, onlines: onlines}"></ng-container>
    </div>
    <div class="__item-btns d-flex">
      <a  class="__btn" href="#" (click)="onShowInfo($event, consultation)" mat-button>Подробнее</a>
      <a  class="__btn" href="#" *ngIf="!consultation?.is_taken" (click)="onTakeToWork($event, consultation)" mat-button>Взять в работу</a>
    </div>
  </div>
</ng-template>

<ng-template #userData let-user let-onlines="onlines">
  <ng-container>
    <span class="__online" [class.__on]="user?.isOnline"></span>
    <psycho-picture [origin]="user?.avatar"></psycho-picture>
  </ng-container>
  <div class="__item-name">{{$any(user) | fio}}</div>
</ng-template>