<div class="__top-wave wave-bg"></div>
<div class="container">
  <div class="__title text-center">На первой встрече вы:</div>
  <div class="d-flex justify-content-between">
    <div class="__meeting-item">
      <img src="/assets/img/first-meeting-1.png" alt="">
      <div>Установите контакт с психологом</div>
    </div>
    <div class="__meeting-item">
      <img src="/assets/img/first-meeting-2.png" alt="">
      <div>Поймёте, подходит ли вам такой формат</div>
    </div>
    <div class="__meeting-item">
      <img src="/assets/img/first-meeting-3.png" alt="">
      <div>Сформулируете свой запрос</div>
    </div>
  </div>
</div>