<div class="__top-wave wave-bg"></div>
<div class="container">
  <div class="title-1 text-center"><strong>На первой</strong> <br>встрече Вы:</div>
  <div class="d-flex justify-content-between">
    <div class="__meeting-item">
      <div class="__img">
        <img src="/assets/img/first-meeting-1.png" alt="">
      </div>
      <div>Установите контакт с психологом</div>
    </div>
    <div class="__meeting-item">
      <div class="__img">
        <img src="/assets/img/first-meeting-2.png" alt="">
      </div>
      <div>Поймёте, подходит ли вам такой формат</div>
    </div>
    <div class="__meeting-item">
      <div class="__img">
        <img src="/assets/img/first-meeting-3.png" alt="">
      </div>
      <div>Сформулируете свой запрос</div>
    </div>
  </div>
</div>